<div
  class="min-h-screen flex justify-center items-start pt-20"
  style="
    background-image: url('/assets/luz-sol-brilhando-no-topo-de-uma-unica-montanha-ao-por-sol-com-ceu-nublado-escuro.jpg');
    background-size: cover;
    background-position: center;
  "
>
  <div class="h-[700px] ml-24 mr-24 border rounded-2xl bg-white">
    <app-search-bar></app-search-bar>
    <app-temperatura-card></app-temperatura-card>
    <div class="grid place-items-center">
      <app-cards></app-cards>
    </div>
  </div>
</div>
